@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FPT Flower Shop</h1>
    @if (HttpContext.Session.GetString("JWTToken") != null)
    {
        <a class="btn btn-primary" asp-page="/LoginPage/Login" asp-page-handler="logout">Logout</a>
    }
</div>
